<?xml version="1.0" ?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find IR52C_description)/urdf/materials.xacro" />

  <link name="world"/>

  <joint name="virtual" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin xyz="1.558e-06 0.0587 0.0734" rpy="0 0 0"/>
      <mass value="10.0008"/>
      <inertia ixx="0.309271" iyy="0.165271" izz="0.320305" ixy="-4.3e-05" iyz="0.028403" ixz="3.7e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="u_link_1">
    <inertial>
      <origin xyz="-0.0184 0.0155 0.0544" rpy="0 0 0"/>
      <mass value="5.9995"/>
      <inertia ixx="0.018017" iyy="0.027282" izz="0.02984" ixy="0.00444" iyz="0.001142" ixz="-0.001519"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.16" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/u_link_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.16" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/u_link_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="base" type="revolute">
    <origin xyz="0.0 0.0 0.16" rpy="0 0 2.5307"/>
    <parent link="base_link"/>
    <child link="u_link_1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <!-- <limit upper="5.0614" lower="0" effort="10" velocity="1.0"/> -->
    <limit upper="5.65835744" lower="0.65798913" effort="10" velocity="1.0"/>
  </joint>

  <link name="shoulder_link_1">
    <inertial>
      <origin xyz="-0.0598 0.0016 0.0807" rpy="0 0 0"/>
      <mass value="3.9999"/>
      <inertia ixx="0.015585" iyy="0.015646" izz="0.003803" ixy="5e-06" iyz="0.000178" ixz="8.2e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.0628 -0.0 -0.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/shoulder_link_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.0628 -0.0 -0.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/shoulder_link_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="shoulder" type="revolute">
    <origin xyz="0.0628 0.0 0.107" rpy="-1.5707 0 0"/>
    <parent link="u_link_1"/>
    <child link="shoulder_link_1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit upper="3.1415" lower="0" effort="10" velocity="1.0"/>
  </joint>

  <link name="elbow_link_1">
    <inertial>
      <origin xyz="-0.0349 0.0 0.0876" rpy="0 0 0"/>
      <mass value="2.9999"/>
      <inertia ixx="0.005387" iyy="0.00546" izz="0.001108" ixy="0.0" iyz="0.0" ixz="-3e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.0358 -0.0 -0.4988" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/elbow_link_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="elbow" type="revolute">
    <origin xyz="-0.0269 0.0 0.2318" rpy="-1.7453 0 0"/>
    <parent link="shoulder_link_1"/>
    <child link="elbow_link_1"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit upper="3.4906" lower="0" effort="10" velocity="1.0"/>
  </joint>

  <link name="wrist_1">
    <inertial>
      <origin xyz="0.0259 0.0019 0.0230" rpy="0 0 0"/>
      <mass value="2.0004"/>
      <inertia ixx="0.001358" iyy="0.001208" izz="0.000403" ixy="-0.0" iyz="-4.3e-05" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0251 -0.0 -0.7038" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="wrist" type="revolute">
    <origin xyz="-0.061 0.0 0.205" rpy="2.0594 0 0"/>
    <parent link="elbow_link_1"/>
    <child link="wrist_1"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit upper="3.4906" lower="0" effort="10" velocity="1.0"/>
  </joint>

  <link name="tool_1">
    <visual>
      <origin xyz="-0.0008 0.0062 -0.8069" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://IR52C_description/meshes/tool_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="tool" type="revolute">
    <origin xyz="0.026 -0.0062 0.1031" rpy="0 0 0"/>
    <parent link="wrist_1"/>
    <child link="tool_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit upper="6.2831" lower="0" effort="10" velocity="1.0"/>
  </joint>

  <ros2_control name="IR52cSerialHardware" type="system">
    <hardware>
      <plugin>ir52c_hardware/STM32SerialInterface</plugin>
      <param name="device">/dev/ttyACM0</param>
      <param name="baud_rate">115200</param>
    </hardware>
    <joint name="base">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="shoulder">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="elbow">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="wrist">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="tool">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
  </ros2_control>

</robot>